body {
    background: #CCC;
    
}

.q_container{
    height: 335px;
}

.bg-light {
    border-radius: 20px;
    transition: 0.5s;
}

.btn-success {
    width: 200px;
    margin: 10px;
}

.correct { /*style correct answer*/
 font-style: italic;
 font-weight: bold;
}




/*time circle style START*/
.timeCircle {
    position: relative;
    float: left;
}

.timeCircle h3 {
    text-align:center;
    position: absolute;
    line-height: 98px;
    width: 100%;
}

svg {
    transform: rotate(-90deg);
}

.circle_animation {
  stroke-dasharray: 189; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 0;
  transition: all 0.3s linear;
}
/*time circle style END*/